<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/Users/kevin/Desktop/application web/templates/static/heart.css" />
        <title>Title</title>
    </head>
    <body>
        <center>
            <br><br<br><br><br>
        <header>
            <div class="center-container">
                <img id="preview"></img>
                <div class="form-container">
                    <form id='theForm' onsubmit="return submitForm(event,true);">
                        <label for="file">Fichier</label>
                        <input type="file" id="img" name="img" accept="image/png, image/jpeg, image/gif" onchange="submitForm(event,false);"/>
                        <button>Envoyer</button>
                    </form>
                </div>
            </div></center>
            <br><br><br><br>
<center>
            <img src="https://cdn.discordapp.com/attachments/1128029931679535245/1246575737834831983/WhatsApp_Image_2023-07-10_at_15.png?ex=665ce3a0&is=665b9220&hm=0b3fa5c26ca182da203d259efa4077b5bcadcba50febdab8f14de47b560235da&" width= 400 px>

<br><br>
        <a  href="/start">Retour</a>
    </center>
            <!-- <input name="imagefile[]" type="file" id="takePictureField" accept="image/png, image/jpeg, image/gif" onchange="uploadPhotos('#{imageUploadUrl}')" /> -->
        </header>
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
        </script>
        <script src="/Users/kevin/Desktop/application web/templates/static/gif.js"></script>
        <script src="/Users/kevin/Desktop/application web/templates/static/gifDecoder.js"></script>
        <script src="/Users/kevin/Desktop/application web/templates/static/script.js"></script>
    </body>
</html>